<!DOCTYPE html>
<html class="static">

<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

</head>

<body ng-app="ProgrammeGenerator" class="static">
  <!-- Rattachement au controller ProgrammeController -->
  <div class="super-programme-container static" ng-controller="ProgrammeController">
    <!-- <div class="overlay-valider-programme">

    </div> -->
    <!-- Le bloc landing-programme contient le morceau de la page que l'utilisateur va voir en premier. Comporte Le nom di  programme, la liste des exercices et un bouton pour commencer le programme. -->
    <div class="header-programme">
      <h1 id="-1" class="header-titre">Mon programme</h1>
    </div>
    <div id="landing-programme">

      <h3 class="landing-titre">Programme personnalisé</h3>
      <p class="landing-description">
        Ce programme permet de correctement étirer les muscles. Attention à ne pas forcer.
      </p>

      <!-- Pour chaque exercice (ou objet dans le tableau JSON), Angular va créer un élement li et y mettre le nom d'un exercice. -->
      <h3 class="exercice-titre">Exercices</h3>
      <ol class="list-exercice">
        <li class="exo-item" ng-repeat="exercice in programme"> {{exercice.Nom_exo}}</li>
      </ol>

      <a href="#0" ng-click="setFirstexercice(0)"><img id="button-go" src="./img/icones/GO.svg" alt="Boutton commencer le programme"></a>
    </div>

    <!-- Même principe qu'au dessus, à l'exception qu'ici on crée un bloc entier, de la taille du device de l'utilisateur, qui va contenir toutes les informations d'un exercice. Ainsi, on crée un enchainement d'exercice sur la même page. En lockant le scroll, on simule alors une navigation grâce à des liens vers des ancres (chaque bloc d'exercice étant composé d'un lien pour aller vers l'exercice suivant, et d'un id pour être atteignable). -->
    <div class="exercices-container static" ng-repeat="exercice in programme">
      <div id="{{exercice.id}}" class="header-programme">
        <h1 class="header-titre">Mon programme</h1>
      </div>
      <span class="exercice-numero">Exercice {{exercice.id+1}} / {{nb}}</span>
      <h3 class="exercice-nom">{{exercice.Nom_exo}}</h3>
      <p class="exercice-description">{{exercice.Description}}</p>

      <div class="video-programme">
        <ng-youtube-embed
            video="videoURL"
            autoplay="false"
            color="black"
            disablekb="true"
            end="20"
            width="320px"
            height="180px"
              >
        </ng-youtube-embed>
      </div>
      <div class="rep-time">
        <div class="rep">
          {{exercice.Repetition}} répétitions
        </div>
        <div class="separateur3"></div>
        <div class="time">
          {{exercice.Duree}} .s / répétition
        </div>
      </div>

      <div class="previous-next-handler static">
        <a href="#{{exercice.id+1}}" ng-hide="$last" ng-click="setNextVideo(exercice.id+1)">
          <img class="next" src="img/icones/Suivant.svg" alt="Bouton aller à l'exercice suivant">
        </a>

        <a href="feedback.html" ng-show="$last" ng-click="setNextVideo(exercice.id+1)">
          <img class="next" src="img/icones/Suivant.svg" alt="Bouton aller à l'exercice suivant">
        </a>

        <a href="#{{exercice.id-1}}" ng-hide="" ng-click="setNextVideo(exercice.id-1)" >
          <img class="next" src="img/icones/Precedent.svg" alt="Bouton aller à l'exercice precedent">
        </a>

        <!-- <a href="#fin">
          <img class="next" src="img/icones/Suivant.svg" alt="Bouton aller à l'exercice suivant">
        </a> -->


      </div>






    </div>
  </div>

  <!-- Menu de navigation. -->
  <nav>
    <a href="home.html"><img src="img/icones/Accueil_ON.svg" /></a>
    <a href="rdv.html"><img src="img/icones/RDV_OFF.svg" /></a>
    <a href="meskine.html"><img src="img/icones/MonKine_OFF.svg" /></a>
    <a href="compte.html"><img src="img/icones/MonEspace_OFF.svg" /></a>
  </nav>




  <script type="text/javascript" src="cordova.js"></script>
  <script src="js/jquery/jquery-3.3.1.js"></script>

  <!-- Links vers les dépendances angular, angular-router et angular-youtube-embed.-->
  <script type="text/javascript" src="js/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular/ng-youtube-embed.min.js"></script>
  <script type="text/javascript" src="js/cookie/js.cookie.js"></script>
  <script type="text/javascript" src="controllers/programmecontroller.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
