@font-face {
  font-family: Ananda;
  src: url(../res/fonts/ananda/Ananda.ttf);
}

html{
  height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

*{
  box-sizing: border-box;
  outline: 0;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
  padding-bottom: 70px;
  height: 100vh;
  font-family: 'Abel', sans-serif;
}

a{
  text-decoration: none;

}

.static{
  overflow: hidden;
}

/* --------- LOGIN PAGE ---------*/

.background-login{
  background-image: url("../img/login-background.svg");
  background-size: cover;
}

#logo-login{
  display: block;
  margin: 150px auto 0 auto;
  width: 110px;
  height: auto;
}

.input-container{
  width: 170px;
}

#input-email, #input-password{
  display: inline-block;
  width: 170px;
  height: 25px;
  margin: 0 auto;
  padding-left: 30px ;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px grey solid;
  color: black !important;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

.input-container > ::placeholder{
  color: #8C8C8C);
  font-family: 'Abel', sans-serif;

}

#message-login{
  display: block;
  width: 170px !important;
  text-align: center;
  font-size: 15px;
  margin: 5px 0;
  color: black;
}

#message-login:focus{
  outline: white !important;
}

#input-user:focus, #input-password:focus{
  outline: none;
}

.input-container i{
  position: relative;
  left: 8px;
  top: 18px;
  color: #8C8C8C;
}

.input-container i:focus{
  color: #8C8C8C;
}

.se-souvenir{
  color: #8C8C8C;
  width: 170px;
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
}

#button-connect{
  display: block;
  width: 170px;
  height: 22px;
  margin: 20px auto;
  border-radius: 8px;
  background: linear-gradient(to right, #10898C, #67C6C0);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
}


/* --------- NAVBAR --------- */

nav{
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 3;
  background-color: #F9F9F9;
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
}

nav > a > i{
  color: #9B9B9B;
  font-size: 20px;
}

.nav-active{
  color: #72c5c1;
}

/* ---------- HOME PAGE --------- */

.home-container{
  z-index: 2;
  margin: 18% 0 0 0;
}

#button-deconnexion{
  position: absolute;
  top: 15px;
  left: 20px;
  color: #72c5c1;
  font-size: 17px;
}

#logo-home{
  display: block;
  width: 115px;
  height: 115px;
  margin: 3px auto;
}

.h1-home{
  display: block;
  width: 100%;
  text-align: center;
  color: #467674;
  margin: 0 0 0 0;
  font-size: 4vh;
  font-family: Ananda;
}

.description-home{
  width: 350px;
  color: black;
  width: 80%;
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
}

.exercice-menu{
  width: 80%;
  height: 200px;
  overflow-y: scroll;
  margin: 0 auto !important;
}

.exercice-menu >  div{
  width: 100%;
  height: 45px;
  line-height: 42px;
  margin-top: 10px;
  font-size: 16px;
  padding-left: 10px;
  color: white;
  background-color: #67C6C0;
  border-radius: 8px;

}

.demarrer{
  display: block;
  width: 75%;
  height: 45px;
  line-height: 42px;
  margin: 8% auto 100px auto;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, #10898C, #67C6C0);
  border-radius: 8px;
  border: none;
  box-shadow: -2px 19px 24px 0px rgba(0,0,0, 0.3);
}

/* ---------- OVERLAY EXERCICES SUR LA HOME --------- */

.exercice{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 998;
  display: none;
}

.exercice-retour{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  color: white;
  font-size: 30px;
}

.video{
  width: 340px;
  height: 220px;
  margin: 35px auto;
}

.nom-exo-home{
  display: block;
  width: 100%;
  height: 70px;
  color: #ffffff;
  line-height: 68px;
  margin: 0 0 50px 0;
  padding: 0 30px 0 50px;
  font-size: 25px;
  text-align: center;
  background: linear-gradient(to right, #67C6C0, #10898C);
  box-shadow: 0 0 15px 5px #c1c1c1;
}

.titre-description-exo-home{
  color: white;
  margin: 20px 0 0 15px;
  font-size: 28px;
}

.description-exo-home{
  display: block;
  color: #595959;
  margin: 0 auto 0 auto;
  padding: 10px 10px 10px 20px;
  font-size: 19px;
}

.titre-demonstration-exo-home{
  color: white;
  margin: 20px 0 20px 15px;
  font-size: 28px;
}

/* --------- PAGE MES KINE ---------*/

.background-kine{
  background-color: #67C6C0;
}

.separateur-kine{
  width: 20%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

.h1-meskine{
 margin: 40px 0 0 0;
 color: white;
 font-size: 1.7em;
}

.super-kine-container{
  z-index: 2;
  width: 100%;
  overflow-y: scroll;
  font-family: "Calibri";
}

.kine-container{
  width: 90%;
  height: auto;
  margin: 0 auto 0 auto;
  background-color: white;
  border-radius: 9px;
  padding-top: 25px;
}

.photo-kine{
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin: 0 auto 0 auto;
}

.img-kine{
  display: block;
  margin: 0 auto;
  width: 60px;
  margin-top: 22px;
  height: auto;

}

.nom-kine{
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px 3px 0 0;
  color: #878787 !important;
}

/* .inverse{
  transform: rotate(180deg);
} */

.info-container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  border-top: 1px solid #5AA8A0;
}

.info-container > p {
  width: 50%;
  height: 75px;
  padding: 0 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  color: #5AA8A0;
}

.info-container > p > i{
  margin: 10px;
  color: #5AA8A0;
  font-size: 18px;
}

.separateur2{
  display: block;
  width: 1px;
  height: 100px;
  background-color: #5AA8A0;
}

.telephone-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(90, 168,160,0.3);
  height: 80px;
  border-radius: 0 0 9px 9px;
  color: #45847C;
}

.telephone-container i {
  color: #3A6D67;
  margin-right: 10px;
  transform: rotate(90deg);
}


.info-container ul {
  font-size: 16px;
  list-style: none;
}

.exercice-menu i{
  float: right;
  position: relative;
  top: 15px;
  right: 20px;

}

.puce{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.h1-compte{
  /* position: absolute;
  left: 30px; */
  color: white;
  font-size: 6vh;
}

.info-patient{
  z-index: 1;
  width: 90%;
  padding: 30px 20px 0 20px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.info-patient img{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto;
}

.nom-patient{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 5px 0;
}

.descriptif{
  text-align: center;
  margin: 0 0 30px 0;

}

.modifiables{
  border-top: 1px solid black;
  padding: 20px 0 0 0;
}

.modifiables input[type=text]{
  padding-left: 10px;
  width: 70%;
}

.antecedent{
  text-align: center;
}

textarea{
  resize: none;
}

#button-enregistrer{
  display: block;
  width: 75%;
  height: 45px;
  line-height: 42px;
  margin: 8% auto;
  font-size: 16px;
  color: white;
  background-color: rgba(47, 89, 123, 0.8);
  border-radius: 3px;
  border: none;
  box-shadow: -2px 19px 24px 0px rgba(0,0,0, 0.3);
}

/* --------- PROGRAMME --------- */
#landing-programme{
  width: 100%;
  height: 100vh;
  background-color: #67C6C0;
}

#landing-programme > h1{
  margin: 0;
  padding: 0;
}

.exercices-container{
  width: 100%;
  height: 100vh;
  background-color: #afd8d6;
}
